@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* cursor: url("/assets/icons/mh_cursor.svg"), default; */
}
body {
  background-image: linear-gradient(
      157deg,
      rgba(49, 158, 214, 0.4) 0%,
      rgba(3, 5, 50, 0.35) 65%
    ),
    url("/assets/hunter.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@layer components {
  .monster-tab {
    @apply w-full md:w-44 bg-slate-400 text-slate-800 px-2 py-1 md:px-4 md:py-2 rounded-md cursor-[url('/assets/icons/mh_hand.svg'),_pointer]  hover:bg-slate-800 hover:text-white duration-300 justify-center tracking-wider ui-selected:bg-slate-800 ui-selected:text-white;
  }
  .active {
    @apply bg-slate-800 text-white;
  }
  .monster-table {
    @apply table table-fixed text-gray-300 border-separate space-y-6 text-center w-full;
  }
  .monster-table thead tr th,
  .monster-table tbody tr td {
    @apply p-3;
  }
  .container {
    @apply w-11/12 md:max-w-xl lg:max-w-2xl xl:max-w-7xl mx-auto;
  }
  .btn {
    @apply bg-slate-300 py-2 text-slate-800 hover:bg-slate-800 hover:text-slate-200 duration-300 shadow-md;
  }
}
* {
  --sb-track-color: rgb(148 163 184);
  --sb-thumb-color: rgb(30 41 59);
  --sb-size: 6px;
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}
*::-webkit-scrollbar {
  width: var(--sb-size);
}
*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 16px;
}
*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 16px;
}
